{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}



<form class="login" method="POST" action="{% url 'calculate' %}" >{% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="oblicz"/>
</form>

    {{ information }}
        {% for info in information %}
        <p>{{ info }}</p>
    {% endfor %}
{% endblock %}