{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <p>Dostępne operacje!:</p>
    {% for infr in information %}
        <p>{{ infr }}</p>
    {% endfor %}
{% for entry in blog_entries %}
    <h2>{{ entry.title }}</h2>
    <p>{{ entry.body }}</p>
{% endfor %}
{% endblock %}