#Naglowek
{
     text-shadow: teal;
    background-color: #d6d6d6;
    box-shadow: 10px 10px 5px #888;
    text-align: center;
    width : 500px;
    margin: 0 auto;
    padding: 0;
    border-radius: 15px;

}

#sidebar
{
    text-shadow: teal;
    background-color: #d6d6d6;
    box-shadow: 10px 10px 5px #888;
    text-align: left;
    width:160px;
    border-radius: 15px;
    margin-left: 20px;
    top:150px;
    position: absolute;

}
#content
{
    top:150px;
    left:200px;
    background-color: #d6d6d6;
    box-shadow: 10px 10px 5px #888;
    border-radius: 15px;

    position: absolute;
    width: 70%;
}
body{
    background-color: #000000;
    margin:50px 0px; padding:0px;
	text-align:center;
    border-radius: 15px;
}